<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
         <link rel="icon" href="/img/logo.png">
        <title>404 Not Found</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{message}}
        </div>
        {{>footer}}
    </body>
</html>