<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/logo.png">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{ message }}</p>
        </div>
        {{>footer}}
    </body>
</html>